# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

antigen.zsh

.config/fish/fish_variables

fnm_install*
omf_install*
starship_install*

.config/fish/work_profile.fish
