# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

antigen.zsh

omf_install
omf_install_output.txt

fnm_install_output.txt

starship_install.sh
starship_install_output.txt
